/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.header-top {
    background-color: #f8f8f8; /* Light grey background */
    padding: 10px 0; /* Vertical padding */
    text-align: center; /* Centered text */
    border-bottom: 1px solid #ddd; /* Bottom border */
}

.header-top .container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
}

.header-top p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
}

.logo {
    float: left;
    padding: 20px 0;
}

.logo img {
    height: 60px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

/* Navigation styling */
nav {
    float: right;
    padding: 30px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff8522;
}

/* Search bar styling */
.search-bar {
    clear: both;
    padding: 20px 0;
    text-align: center;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* User cart styling */
.user-cart {
    float: right;
    margin-top: 15px;
}

.user-cart a {
    display: inline-block;
    margin: 0 10px;
}

.user-cart a img {
    height: 30px;
    transition: transform 0.3s ease;
}

.user-cart a img:hover {
    transform: scale(1.2);
}

/* Responsive design */
@media (max-width: 768px) {
    .logo, .user-cart, nav {
        float: none;
        text-align: center;
    }

    nav ul {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .search-bar input {
        width: 80%;
    }
}

/* On Scroll Styles */
.header-scrolled {
    background-color: 	#F4BB44;
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, padding 0.3s ease;
}
